doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    script(type='text/javascript', src='https://www.gstatic.com/charts/loader.js')

  body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/') Home 
            li
              a.btn.btn-default(href='/login')
                i.fa.fa-twitter.fa-1x(aria-hidden='true')
    .container
      .main-content
        div.col-md-8.text-center
          div#pollFor(style="padding:0px 40px 0px 40px;")
            h1#question
            div.row
                div#show-opts.col-md-6.col-md-offset-3
            div#buttons.row
                a#vote.btn.btn-success.btn-block.btn-lg(style="margin: 30px 20px") Vote
          div#showchart
        div.row.col-md-4
          h3 Polls
          div#rooms.list-group
  script(src="/jquery.min.js",type="text/javascript")
  script(src="/main.js",type="text/javascript")